<!doctype HTML>
<html lang="es">
<head>
    <title>Agenda</title>
</head>

<body>
    <h2>Agregar contacto</h2>
    <form action="/add" method="post" style="display: flex;">
        <label for="firstname">Nombre: </label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Apellido: </label>
        <input type="text" id="lastname" name="lastname">
        <input type="submit" value="Agregar contacto">
    </form>
    <div>
        <a href="/update"><button type="button">Update</button></a>
        <a href="/remove"><button type="button">Delete</button></a>
    </div>
</body>
</html>

