<!doctype HTML>
<html lang="es">
    <head>
        <title>Agenda</title>
    </head>

    <body>
        <h2>Actualizar contacto</h2>
            <form action="/updatepost" method="post" style="display: flex;">
                <label for="id">Id del usuario: </label>
                <input type="text" id="id" name="id">
                <label for="firstname">Nombre: </label>
                <input type="text" id="firstname" name="firstname">
                <label for="lastname">Apellido: </label>
                <input type="text" id="lastname" name="lastname">
                <input type="submit" value="Actualizar contacto">
            </form>
            <a href="/"><button type="button">Return</button></a>
    </body>
</html>

